#left-side {
  padding: 2rem;
  padding-right: 0;

  .section#window {
    position: fixed;
    resize: both;
    overflow: auto;
    z-index: 1;
    height: 70%;
    max-height: 80vh;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35);
    > #header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
      h2 {
        cursor: grabbing;
      }
    }
  }
  
  .section {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    border-radius: 6px;
    user-select: none;
    
    > #header {
      padding: 1.2rem;
      padding-bottom: 0;
      display: flex;
      gap: 0.5rem;
      
      h2 {
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0rem 1.2rem;
        background: #eeeeee;
        color: black;
        border-radius: 5px;
      }
    }
    #content {
      padding: 1.5rem 3rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .place {
        #header {
          padding-bottom: 0;
          p {
            font-weight: 500;
            padding: 0rem 1.2rem;
            background: #eeeeee;
            color: black;
            border-radius: 5px;  
            font-weight: 500;
          }
        }
        #place-info {
          padding: 1rem 2.5rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: .9rem;
          div:has(#school),
          div:has(#company),
          div:has(#role),
          div:has(#position) {
            grid-column: span 2;
          }
          > div {
            display: flex;
            flex-direction: column;
          }
        }
      }
      form:not(.place) {
        gap: 0.9rem;
      }
      form {
        display: flex;
        flex-direction: column;
        > div {
          display: flex;
          flex-direction: column;
          label {
            color: #202020;
            font-size: .9rem;
            width: max-content;
          }
        }
        #header {
          flex-direction: row;
          justify-content: space-between;
          gap: 0.5em;
          #title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
          }
        }
      }
    }
  }
}
